<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="C:\Users\Administrator\Desktop\Vue初学\Vue\vue.js"></script>
<body>
    <div id="root">
        性:     <input type="text" v-model="fNmae"><br>
        名:     <input type="text" v-model="lName"><br>
        姓名:   <span>{{fNmae.slice(0,3)}}-{{lName}}</span>
        <!-- .slice(0,3)  取前三位 -->
    </div>
    <script>
        Vue.config.prodictionTip = false;
        new Vue({
            el: '#root',
            data:{
                fNmae:'张',
                lName:'三',
              }
            })
    </script>
</body>
</html>